<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Filterservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>studentservlet</servlet-name>
  <servlet-class>controller.Studentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>studentservlet</servlet-name>
  <url-pattern>/studreg</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>validationservlet</filter-name>
  <filter-class>controller.Validationservlet</filter-class>
  <init-param>
  <param-name>key</param-name>
  <param-value>myfilter</param-value>
  </init-param>
  </filter>
  <filter-mapping>
  <filter-name>validationservlet</filter-name>
  <url-pattern>/studreg</url-pattern>
  </filter-mapping>
</web-app>