<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Servlet_usingparams</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>studentregistration</servlet-name>
  <servlet-class>controller.Registrationstudent</servlet-class>
  <init-param>
  <param-name>username</param-name>
  <param-value>system</param-value>
  </init-param>
  <init-param>
  <param-name>password</param-name>
  <param-value>reddy123</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>studentregistration</servlet-name>
  <url-pattern>/studreg</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>courseregistration</servlet-name>
  <servlet-class>controller.Courseregistration</servlet-class>
  <init-param>
  <param-name>username</param-name>
  <param-value>shiva</param-value>
  </init-param>
  <init-param>
  <param-name>password</param-name>
  <param-value>shiva</param-value>
  </init-param>
  <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>courseregistration</servlet-name>
  <url-pattern>/coursereg</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>driver</param-name>
  <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
</web-app>